<div class="wrapper wrapper_padding clearfix skinny_wrapper homepage_content about_me"> <!-- Contact Content wrapper -->
  <h2>About Sasha</h2>
  <hr>
  <p>Sasha Ostojic is a nonprofit professional based in New York City working to leverage data and establish policy helping others build financial security. With the launch of this site, Sasha hopes to share ideas in a range of topics with peers and future collaborators.<br><br> Sasha holds a Master of Science in Applied Economics from the University of North Dakota. His research interests greatly vary from studying the relationship between financial development and human development to lighter topics such as forecasting and evaluating human performance in a wide variety of fields from financial coaching to sports. Outside of work, Sasha is an avid sports enthusiast driving his consistent use of sports-related metaphors in the workplace.<br><br>Please feel free to reach out to Sasha with any feedback or if you would like to collaborate on a future project by filling out the form below. All correspondence goes directly to Sasha.</p>
</div>

<div class="skinny_wrapper wrapper_padding">
  <h1 id="page_title">Send me your inquiry!</h1>
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= form_for @contact do |f| %>

  <%= f.text_field :name, required: true, placeholder:"Name"%>

  <br>

  <%= f.email_field :email, required: true, placeholder:"Email" %>

  <br>

  <%= f.text_area :message, as: :text,required: true, placeholder:"Send me your message..." %>

  <div class="hidden">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: "leave blank" %>
  </div>

  <%= f.submit "Send Message ", class:"button" %>
  <% end %>
</div><!-- End Content wrapper -->