<div class="banner">
  <h1 id="page_title">Sports Insights</h1>
</div>
<% if user_signed_in? %>
<div id="admin_links">
  <%= link_to "new project", new_project_path %>
</div>
<% end %> 
<div id="post_wrapper" class="skinny_wrapper">
  <% @projects.each do |project| %>
    <%= link_to(project) do %>
  <div class="post">
    <h2><%= project.title %></h2>
    <p class="date"><%= project.created_at.strftime("%A, %b %d %Y")%></p>
    <hr>
  </div>
  <% end %>
  <% end %>
</div>

<%= will_paginate @projects %>