<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime("%A, %b %d %Y")%></p>
    <h1><%= @project.title %></h1>
    <hr>
  </header>
  <div id="content">
    <%= markdown @project.description %>   
    <% if @project.link %>
    <div class="button_wrapper">
      <a href="<%= @project.link %>" class="project_button" target="_blank"> Visit <%= @project.link %></a>

    </div>   
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div id="admin_links">
    <%= link_to "edit Article", edit_project_path(@project) %>
    <%= link_to "delete Article", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
  </div>
  <% end %>
  <hr>

 <div id="share_box">
  <hr>
    <p>Share The Do List</p>
    <!-- Twitter -->
   <a class="twitter customer share" href="http://twitter.com/share?text=<%= @project.title %> by @briansBier - &amp;url=http://localhost:3000/<%= url_for([@project]) %>" title="Twitter share" target="_blank"><i class="fa fa-twitter"></i></a>

    <!-- Facebook -->
    <a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=<%= url_for([@project,{only_path: false}]) %>" title="Facebook share" target="_blank"><i class="fa fa-facebook"></i></a>

    <!-- Google Plus -->
    <a class="google_plus customer share" href="https://plus.google.com/share?url=<%= url_for([@project,{only_path: false}]) %>" title="Google Plus Share" target="_blank"><i class="fa fa-google-plus"></i></a>

    <!-- Linkedin -->
    <a class="linkedin customer share" href="http://www.linkedin.com/shareArticle?mini=true&url=<%= url_for([@project,{only_path: false}]) %>" title="linkedin Share" target="_blank"><i class="fa fa-linkedin"></i></a>
  </div>

  <hr>

  <%= render 'disqus' %>
</div>