<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Blogger</title>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <a href="#" class="name">Blogger</a>
    <nav>
      <%= link_to "Articles", posts_path %>
      <a href="#">Projects</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>

<%= yield %>

</body>
</html>
