<!DOCTYPE html>
<html>
<!-- Site by Brian Bier
    ____         _                  ____   _            
   / __ ) _____ (_)____ _ ____     / __ ) (_)___   _____
  / __  |/ ___// // __ `// __ \   / __  |/ // _ \ / ___/
 / /_/ // /   / // /_/ // / / /  / /_/ // //  __// /    
/_____//_/   /_/ \__,_//_/ /_/  /_____//_/ \___//_/     
www.brianbier.co -->
<head>
  <meta charset="UTF-8">

  <title>Sasha Ostojic</title>

  <!-- <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'> -->
   <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "background" if controller_name == "welcome" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Full Screen fadeIn -->
<!-- 
    $('body').css('display','none');
    $('document').ready(function(){
      $('body').fadeIn(1700);
      $('a').on('click',function(event){
        var thetarget = this.getAttribute('target')
        if (thetarget != "_blank"){
          var theherf = this.getAttribute('href')
          event.preventDefault();
          $('body').fadeOut(function(){
            window.location=theherf
          });
        }
      });
    });
    setTimeout(function(){
      $('body').fadeIn();
    },1000) -->

<!-- End Full Screen fadeIn -->
  <div class="overlayer"><!-- Navigation bar -->
    <div class="background-image">
      <header id="main_navigation" class="clearfix">
        <%= link_to "Sasha Ostojic", root_path, class: "name" %>
        <button class="menu"><i class="fa fa-bars"></i></button>
        <nav id="main_nav">
          <%= link_to "Policy", posts_path, class: "cool-link" %>
          <%= link_to "Sports", projects_path %>
          <%= link_to "Contact", new_contact_path %>
          <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% end %>
        </nav>
      </header>
      <p class="slogan slogan_padding"></p>
    </div>
  </div><!-- End of Navigation Bar-->

<% if notice %>
<p class="notice"><%= notice %></p>
<% elsif alert %>
<p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy; <%= Time.now.strftime("%Y") %> Sasha Ostojic</p>
  <nav>
    <a href="https://www.linkedin.com/in/sashaostojic"target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://twitter.com/sashaeconinc"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="/contacts/new"><i class="fa fa-envelope-o" aria-hidden="true"></i>
    </a>
  </nav>
</footer>

      <% if !user_signed_in? %>
      <div class="below_footer">
        <p class="power_by"><%= link_to "Proudly powered by www.brianbier.co", "http://www.brianbier.co/",target:"_blank" %><br><%= link_to " Sign in", new_user_session_path%></p>
            
      </div>
      <% end %>

</body>
</html>
