<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sasha Ostojic</title>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "background" if controller_name == "welcome" %>
</head>
<body>
<div class="overlayer">
  <div class="background-image">
  <header id="main_navigation" class="clearfix">
    <%= link_to "Sasha Ostojic", root_path, class: "name" %>
    <nav>
      <%= link_to "Articles", posts_path, class: "cool-link" %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if user_signed_in? %>
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>

      <% end %>
    </nav>
  </header>
    <p class="slogan slogan_padding"></p>
  </div>
</div>
<!-- <div class="overlayer">
  <div class="background-image">
</div>
</div> -->
<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

  <footer id="main_footer">
    <p class="copyright">&copy; 2016 Sasha Ostojic</p>
    <nav>
      <a href="#"target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </nav>
  </footer>
  <div class="below_footer">
    <p class="power_by"><%= link_to "Proudly powered by Brian Bier. | ", "http://www.brianbier.co/" %>  <%= link_to " Sign in", new_user_session_path %></p>
  </div>
</body>
</html>
